<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
    integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <title>給与画面</title>
  <link rel="stylesheet" href="salary.css"></head>
<body>
  <div class="wrapper"> 
    <div class="ground">
      <h3 class="header">給与画面</h3>
        <div class="center">
          <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>給与</th>
            <th>税</th>
            <th>保険料</th>
            <th>交通費</th>
            <th>総支給額</th>
            <th>交付日</th>
          </tr>
          <tr th:each=" : ${}">
            <td><a th:href="@{/{}(=${.})}" th:text="${.}"></a></td>
            <td th:text="${.}"></td>
            <td th:text="${.}"></td>
            <td th:text="${.}"></td>
          </tr>
          </table>    
          <form action="regist" method="get">
            <button type="submit" class="footer">検索&一覧に戻る</button>
          </form>
        </div>   
          <input type="submit" value="編集" class="footer1" >
          <input type="submit" valu e="削除" class="footer2" >
    </div>
  </div>
</body>
</html>