<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<title>新規登録</title> 
<link rel="stylesheet" href="employee_registration.css"></head>
<body> 
    <div class="wrapper"> 
        <div class="ground">
        <div class="header">社員登録完了</div>
            <div class="center">
                <div class="main clearfix">
                <ul>
                    <div class="content clearfix">
                        <div class="content-left">
                            <label for="id">ユーザーID</label><br>
                            <input class="id" type="text" name="id" value="" size="8" placeholder="1234"><br>

                            <label for="name">名前</label><br>
                            <input class="name" type="text" name="name" value="" size="20" placeholder="山田 太郎"><br>

                            <label for="kana">カタカナ</label><br>
                            <input class="kana" type="text" name="kana" value="" size="50" placeholder="ヤマダ タロウ"><br>

                            <label for="pass">パスワード</label><br>
                            <input class="pass" type="password" name="pass" value="" size="100" placeholder="〜8文字で入力"><br>

                            <label for="upn">メールアドレス</label><br>
                            <input class="upn" type="text" name="upn" value="" size="50" placeholder="abcdefg@/////.co.jp"><br>
                        </div>

                        <div class="content-right">
                            <label for="birthday">生年月日</label><br>
                            <input input class="birthday" type="date" name="birthday" value="" size="20" placeholder="2000年1月1日"><br>

                              

                            <label for="gender">性別</label><br>
                            <input type="radio" name="1" value="true">男
                            <input type="radio" name="1" value="false">女<br> 
                    
                            
                            <label for="prefecture_code">出身地</label><br>
                            <input class="prefecture_code" type="text" name="prefecture_code" value="" size="20" placeholder="東京都"><br>
                                
                            <label for="Position_code">役職</label><br>
                            <input class="prefecture_code" type="text" name="prefecture_code" value="" size="20" placeholder="主任"><br>

                            <label for="department_code">部署</label><br>
                            <input class="department_code" type="text" name="department_code" value="" size="20" placeholder="SES事業部"><br>
                                
                            <label for="entry_date">入社日</label><br>
                            <input class="entry_date" type="date" name="entry_date" value="" size="20" placeholder="2017年10月17日"><br>
                        </div>
                    </div> 
                    
                    <input type="submit" value="新規登録   " class="footer1" >
                    <input type="submit" value="キャンセル" class="footer2" >    
                </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>